[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "src/direct_lidar_inertial_odometry"]
	path = src/direct_lidar_inertial_odometry
	url = https://github.com/vectr-ucla/direct_lidar_inertial_odometry.git
	branch = feature/ros2
[submodule "src/chad_ros"]
	path = src/chad_ros
	url = https://github.com/M2-TE/chad_ros.git
	branch = main
